<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>780696647069-tkcbajb9duaqead6171k7ct94tkool60.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.780696647069-tkcbajb9duaqead6171k7ct94tkool60</string>
	<key>API_KEY</key>
	<string>AIzaSyD96VR3KfFdZ7OjI5ARJQP0MAbsDR_xRXA</string>
	<key>GCM_SENDER_ID</key>
	<string>780696647069</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>any.BrainltCompany.Brain</string>
	<key>PROJECT_ID</key>
	<string>brain-games-40234</string>
	<key>STORAGE_BUCKET</key>
	<string>brain-games-40234.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:780696647069:ios:03555d4ef8a86fe2bc2b74</string>
	<key>DATABASE_URL</key>
	<string>https://brain-games-40234-default-rtdb.firebaseio.com</string>
</dict>
</plist>